/* parte generale */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400&family=Roboto&display=swap');
*{
  box-sizing: border-box;
  margin: 0 auto;
  font-family: Jost, Arial, sans-serif;
}
body {
  background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg);
  color: rgba(255, 255, 255, 0.8);
}

/* contenitore */
.container{
  width: 80%;
  margin: 0 auto;
}

/* intestazione */
header, nav, main {
  /* padding: 10px 0px; */
  border-bottom: 2px solid #fff;
}
.logo{
  width: 100px;
  vertical-align: middle;
}
.header-text{
  font-size: 25px;
  font-weight: 700;
}

/* menu navigazione */
nav{
  padding: 10px 0px;
}
#searchbar {
  padding-bottom: 5px;
}
#notification-unread {
  font-size: 20px;
}
#unread-count {
  /* inline-block mi permette di definire un altezza e larghezza e occupare uno spazio */
  display: inline-block;
  background-color: orange;
  /* il raggio del bordo al 50% corrisponde al raggio della circonferenza inscritta nel conteniotre padre -> si crea un cerchio */
  border-radius: 50%;
  padding: 5px 7px;
}

/* corpo */
.email{
  padding: 10px 0px;
}
/* sfruttiamo l'ereditarietà delle proprietà degli elementi e il fatto di poter sovrascrivere alcuen proprietà sfruttando le specificità */
.row{
  color: black;
  border: 1px solid black;
  padding: 3px;
}
.read{
  background-color: white;
}
.unread{
  background-color: lightgrey;
}
.row-left{
  display: inline-block;
  width: 35%;
}
.row-right{
  color: grey;
  display: inline-block;
  width: 63%;
}
.star{
  color: orange;
}

/* footer */
footer{
  text-align: center;
  margin: 10px 0px;
}
.footer-text {
  font-size: 20px;
}
.italic {
  font-style: italic;
}
